.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.activeUserCardButton {
    margin-bottom: 10px;
    float: right;
    border-radius: 8px;
  }

.activeUserCardButton:hover{
    color: white;
    background-color: darkslategray;
    border-color: darkslategray;
}

#cardContainer{
    padding: 5rem;
    display: inline;
    position: relative;
    float: left;
    font-weight: bold;

    #card {
      box-shadow: 5px 10px #2e2e2ec2;
      #username{
        text-align: center;
      }

      #profileImage{
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
}

