@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);


h2{
    text-decoration: underline;
    margin: 50px auto;
    text-align: center;
    text-shadow: 4px 4px 0px mediumorchid;
    color: rgb(0, 0, 0);
    opacity: 0.4;
    font: 100 50px 'Bitter';
}



h6{
    margin: 50px auto;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), 1px 1px 0px mediumorchid;
    color: black;
    opacity: 0.4;
    font: 50 30px 'Bitter';
}

.sub {
    position: relative;
    left: 35%;
    margin: 20px;
    border-radius: 8px;
    font-size: 20px;
}

.title {
    border: 3px solid mediumorchid;

}