.full {

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 1;
    left: 0;

    background-color: lightgray;

    .parentRegister {

        position: relative;
        display: grid;
        width: 100%;

        .register {

            background-clip: border-box;
            border-radius: 16px;
            position: relative;
            top: 20%;
            background-color: mediumorchid;
            margin: auto;

            h1{
                color: white;
                text-align: center;
                margin-top: 50px;
                margin: 50px;
            }

            .addUser {
                .label{
                    color: white;
                    clear: left;
                    width: 10px;
                    position: relative;
                    left: 15px;

                    .fInput {
                        margin-top: 10px;
                    }
                }

                .notEqual {
                    margin-top: 15px;
                    margin-bottom: -15px;
                    color: white;
                    text-align: center;
                }

                .submit:hover {
                    position: relative;
                    left: 35%;
                    margin: 20px;
                    border-radius: 8px;
                    transform: translate(-50%, -50%);
                    color: mediumorchid;
                
                }
        }
    }
    }
}