.full {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 1;
    left: 0;

    background-color: lightgray;

    .container {
        position: relative;
        display: grid;
        width: 100%;

        .error {
            background-clip: border-box;
            border-radius: 16px;
            position: relative;
            top: 25vh;
            background-color: crimson;
            margin: auto;

            .errorText{
                color: white;
                text-align: center;
                margin: 20px;
            }
        }
    }
}