



.forgotTitle {
    position: absolute;
    left: 50%;
    margin-top: 4rem;
    transform: translateX(-50%);

}

// #label {
//     position: absolute;
//     left: 50%;
//     margin-top: 4rem;
//     transform: translateX(-50%);
// }

.emailBar {
    width: 400px;
    height: 40px;
    border: 6px solid #3D484C;
    background: #2D3538;
    margin: 0 0 5px;
    padding: 17px;
    border-radius: 5px;
    font-size: 20px;
    padding-right: 30px;
    margin-top: 4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #DDD;
    background: #2D3538 url(http://picbox.im/image/cba14e57f0-validicon.png) no-repeat 99% 50%;
    background-position: right 6px center;
}

.submitInput {
    position: relative;
    // left: 35%;
    display:grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    background-color: #2D3538;
    border-color: #2D3538;
                    
}

.submitInput:hover {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 8px;
    font-size: 20px;
    color: #2D3538;
    background-color: white;
    border-color: white;
}
