
.title{grid-area: title;}
.body{grid-area: body;}
.likes{grid-area: likes;}
.username{grid-area: username;}

.postRectangle{
    border-radius: 25px;
    display: grid;
    grid-gap: 2rem;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 20px;
    grid-template-areas:
      'title title title title title title'
      'body body body body body body'
      'username username username username username username';

    background-color: rgb(196, 160, 230);
    text-align: center;
    box-shadow: 5px 10px #000000c2;
    font-family: monospace, 'sans-serif';
    font-style: oblique;
    font-weight: bolder;
}
