
.title{grid-area: title;}

.postImage{
  grid-area: postImage;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body{grid-area: body;}
.likes{grid-area: likes;}

.likesButton{
  grid-area: likesButton;
}

.username{grid-area: username;}

.postRectangle{
    border-radius: 25px;
    display: grid;
    grid-gap: 2rem;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 20px;
    grid-template-areas:
      'title title title title title title'
      'postImage postImage postImage postImage postImage postImage'
      'body body body body body body'
      'username username username likes likes likes';

    background-color: rgb(196, 160, 230);
    text-align: center;
    box-shadow: 5px 10px #000000c2;
    font-family: monospace, 'sans-serif';
    font-style: oblique;
    font-weight: bolder;
}
